{% extends '/template/base.twig' %}

{% block body %}
    {% include '/template/header.twig' %}

    <div class="content">
        <div class="card">
            <div class="card-header flex">
                <h2>Récapitulatif commande :</h2>
                <div class="button-close">
                    <a href="/"><span><i class="far fa-times-circle"></i></span></a>
                </div>
            </div>
            <div class="card-body">
                <div class="infos-commande">
                    <div>
                        Date : {{ date }}
                    </div>
                    <div>
                        Client : {{ nom_client }}
                    </div>
                    <div>
                        Commentaire : {{ commentaire }}
                    </div>
                </div>
                <h3>Articles</h3>
                <div class="table-responsive tableau-historique-commande">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Article</th>
                                <th>Quantite</th>
                                <th>Conditionnement</th>
                                <th>Teinte</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for row in articles %}
                            <tr>
                                <td>{{ row.libelle_article }}</td>
                                <td>{{ row.quantite }}</td>
                                <td>{{ row.conditionnement }}</td>
                                <td>{{ row.teinte }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <a href="/">
                        <button class="btn btn-secondary">Fermer</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}